@media screen and (max-width: 1350px) {
    #backtotop {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .fixed-nav-bar {
        font-size: 12px;
    }
    h1.main-title {
        font-size: 64px;
    }
    h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 780px) {
    .fixed-nav-bar {
        font-size: 0.6em;
    }
    h1.main-title {
        font-size: 3em;
    }
    .showcase-collapse {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 670px) {
    #right-align-menubar {
        display: none;
    }
    #left-align-menubar {
        width: 100%;
        text-align: center;
    }
    h1.main-title {
        font-size: 1.5em;
        margin-top: 0;
    }
    .showcase-collapse {
        font-size: 0.75em;
    }
    .fixed-nav-bar {
        font-size: 1em;
    }
    .showcase-dropdown div {
        width: 32%;
    }
    .overlay-show {
        font-size: 0.5em;
        padding-top: 0;
        padding-bottom: 0;
    }
    .overlay-show p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    footer {
        font-size: 0.6em;
    }
    h1 {
        font-size: 1em;
    }
    #left-align-menubar, nav.fixed-nav-bar {
        display: none !important;
    }
    #camp-showcase {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 1em;
    }
    h1.main-title {
        font-size: 1.25em;
        width: 100%;
    }
    p, p span {
        font-size: 10px !important;
        line-height: 12px;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }
    .image-wrapper {
        width: 100% !important;
        height: auto !important;
    }
    #overlay-close {
        right: 20px;
        top: 20px;
    }
    #activities-showcase, #camp-showcase {
        opacity: 1 !important;
    }
}